aiofiles==0.6.0
astroid==2.5.6
bbcode==1.1.0
blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dominate==2.6.0
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
flask-paginate==0.8.1
Flask-Pydantic==0.7.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
idna==2.10
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
pkg-resources==0.0.0
priority==1.3.0
pydantic==1.8.1
pylint==2.8.2
pylint-flask==0.6
pylint-plugin-utils==0.6
Quart==0.14.1
ratelimit==2.2.1
redis==3.5.3
requests==2.25.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
visitor==0.1.3
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
