[Unit]
Description=Terrible MD Frontend
After=nginx.service

[Service]
User=nobody
WorkingDirectory=/opt/tmdfe
ExecStart=/opt/tmdfe/venv/bin/hypercorn md_frontend:app -w 8 --access-logfile -
Restart=always

[Install]
WantedBy=multi-user.target

