<!doctype html>
<title>{% block title %}{% endblock %}</title>
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block navbar %}
{%- set navigation_bar = [
    (url_for('index'),              'index',      'Index',         'fa-home'),
] -%}
{% set active_page = active_page|default('index') -%}
<nav class="flex-row navbar navbar-fixed-top navbar-expand-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 col-lg-2">
        <ul class="nav flex-column nav-div nav-sidebar" id="sidebar-navigation">
            {%- for href, id, caption, icon in navigation_bar -%}
              <li {% if id == active_page %}class="active"; border-radius:7px;"{% endif %} >
		      <a class="linktext" href="{{ href }}"><i style="padding-right:5px" class="fas {{ icon }}"></i>{{ caption|e }}</a>
	      </li>
            {%- endfor -%}
        </ul>
    </div>
</nav>
{% endblock %}

<div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}
</div>
<div class="body">
  {% block content %}{% endblock %}
</div>
