<!doctype html>
<title>{% block title %}{% endblock %}</title>
{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block navbar %}
{%- set navigation_bar = [
    (url_for('index'),              'index',      'Index',         'fa-home'),
] -%}
{% set active_page = active_page|default('index') -%}
<nav class="flex-row navbar navbar-fixed-top navbar-expand-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 col-lg-2">
        <ul class="nav flex-column nav-div nav-sidebar" id="sidebar-navigation">
            {%- for href, id, caption, icon in navigation_bar -%}
              <li {% if id == active_page %}class="active"; border-radius:7px;"{% endif %} >
		      <a class="linktext" href="{{ href }}"><i style="padding-right:5px" class="fas {{ icon }}"></i>{{ caption|e }}</a>
	      </li>
            {%- endfor -%}
        </ul>
    </div>
</nav>
{% endblock %}

<div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}
</div>
<div class="body">
  {% block content %}{% endblock %}
</div>
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
