{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search for Manga{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Search for Manga</h1>
  <p class="lead">Just until an official RSS feed exists</p>
  <hr class="my-4">
    <p>
	  <form method="get">
      <dl>
        <dt><label for="search"></label></dt>
        <dd><input id="search" name="search" type="text" value=""></dd>
      </dl>
	</p>
	<p>
      <input class="btn btn-primary btn-lg" type="submit" value="Search">
    </p>
    </form>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
{% if results %}
  {% if results | length == 0 %}
  No results found!
  {% elif results | length > 0 %}
  {{ pagination.info }}
  {{ pagination.links }}
  <table border=1>
   <tr>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
   </tr>
   {% for result in results %}
   <tr>
    <td>{{ loop.index + pagination.skip }}</td>
    <td><a href="{{ url_for('get_manga', manga_id=result.manga_id ) }}">{{ result.title }}</a></td>
    <td>{{ result.description | safe }}</td>
   </tr>
   {% endfor %}
  </table>
  {{ pagination.links }}
  {% endif %}
{% endif %}
{% endblock %}

