{% extends 'base.html' %}

{% block navitems %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('get_manga_rss', manga_id=manga.manga_id) }}">RSS Feed</a>
</li>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{{ manga.title }}</h1>
  <hr class="my-4">
  <h3>Alternate Titles</h3>
  <ul>
  <!-- TODO: Why are they all indexed as English? -->
  {% for alt_title in manga.alt_titles %}
    <li>{{ alt_title["en"] | safe }}
  {% endfor %}
  </ul>
  <hr class="my-4">
  <p>{{ manga.description | safe }}</p>
</div>
{% endblock %}
