{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='reader.css') }}">
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
<div id="ChapterIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
  <ol class="carousel-indicators">
    {% for image in chapter.image_list %}
	<li data-target="#ChapterIndicators" data-slide-to="{{ loop.index }}" {% if loop.index == 1 %} class="active"  {% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for image in chapter.image_list %}
    <div class="carousel-item {% if loop.index == 1 %} active {% endif %} text-center  h-75">
        <img class="img-fluid lozad" data-src="{{ chapter.get_image_bytes(image) }}" id="{{ image }}">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#ChapterIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#ChapterIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
const observer = lozad(); // lazy loads elements with default selector as '.lozad'
observer.observe();
</script>
{% endblock %}