{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reader.css') }}">
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('get_manga_rss', manga_id=chapter.manga) }}">RSS Feed</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('get_manga', manga_id=chapter.manga) }}">Back to Manga</a>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
<div id="ImageSpinner" class="loader" style="display: block"></div>
<div id="ChapterIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
  <ol class="carousel-indicators">
    {% for image in chapter.image_list %}
	<li data-target="#ChapterIndicators" data-slide-to="{{ loop.index }}" {% if loop.index == 1 %} class="active"  {% endif %}></li>
    {% endfor %}
  </ol>
  <div id="MangaImages" class="carousel-inner" style="display: none">
    {% for image in chapter.image_list %}
    <div class="carousel-item {% if loop.index == 1 %} active {% endif %} text-center  h-75">
        <img class="img-fluid" src='{{ url_for("get_image", chapter_id=chapter.chapter_id, image_id=image) }}' id="{{ image }}">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#ChapterIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#ChapterIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(window).on("load", function() {
    console.log("ALL IMAGES LOADED");
	$("#ImageSpinner").hide();
	$("#MangaImages").show();
});
</script>
{% endblock %}